<h2>掲示板</h2>
	<%= form_for(@post) do |f| %>
<h4>スレッド名</h4>
	<%= f.text_field :title %>
	<%= f.submit 'スレッドを立てる' %>
	<% end %>
<h3>スレッド一覧</h3>
	<% @posts.each do |post| %>
	<p><%= link_to post.title,post_path(post.id) %></p>
	<% end %>